body {
  height: 100%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  white-space: normal;
  z-index: 0;
  color: #fff;
}

/*Background*/
.parallax {
  background-image: url('./Assets/corona.jpg');
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax::before {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

/*Nav-bar*/
.topnav {
  background-color: #1f2833;
  overflow: hidden;   
  position: fixed ;
  transition: 0.4s;
  top:0;
  left:0px;
  width: 100%;
  padding: 10px 10px;
  z-index: 100 !important;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 25px;
}
.topnav a:hover {
  text-shadow: 0px 0px 15px #c5c6c7, 0px 0px 15px #c5c6c7, 0px 0px 15px #c5c6c7;;
  color: #d8dce0;
}
.topnav a.active {
  text-shadow: 0px 0px 15px #45a29e, 0px 0px 15px #45a29e, 0px 0px 15px #45a29e;;
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 950px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 950px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Search*/

* {
    position:relative;
    box-sizing: border-box;
  }
  form.example input[type=text] {
    float: center;
    position:relative;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #0b0c10;
    width: 80%;
    height: 40px;
    background: #45a29e;
    margin-top: 120px;
    opacity: 0.9;
    border-radius: 50px 0px 0px 50px;
    color: #fff;
  }
  form.example button {
    display: center;
    height: 40px;
    width: 40px;
    padding: 10px;
    background: #45a29e;
    color: white;
    font-size: 20px;
    border: 1px solid #0b0c10;
    border-left: none; 
    cursor: pointer;
    margin-top: 120px;
    opacity: 0.9;
    border-radius: 0px 50px 50px 0px;
  }
  .input:focus {
    outline: none !important;
    border:1px solid #45a29e;
    box-shadow: 0 0 10px #719ECE;
  }
  form.example input:hover {
    border: 1px solid white;
  }
  form.example button:hover {
    background: #45a29e;
    border: 1px solid white;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

/*Map*/
#map {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  width : 70%;
  height : 70%;
  z-index: inherit;
}

/*Infection*/
.plaisio1 {
  position: relative;
  display: block;
  width: 60%;
  font-size: 20px;
  background: #45a29e;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  opacity: 0.9;
  border: 1px solid #0b0c10;
  border-radius: 25px 25px 25px 25px;
  color: #fff;
}
.plaisio1 h1{
  text-align: center;
}
.plaisio1 label{
  margin-top: 20px;
}
#infection{
  margin-top: 20px;
  margin-left: 10px;
  
  background-color: #1f2833;
  color: white;
  
  border-radius: 0.25rem;
  border-width: 2px;
  border-color: #1f2833;
}
#submitbutton{
  margin-top: 20px;
  margin-left: 10px;
  background-color: #1f2833;
  color: white;
  border: 1px solid #0b0c10;
  border-radius: 0.25rem;
}
#submitbutton:hover{
  border-color:white;
  border-width: 2px;
}
.check{
  padding-bottom: 20px;
  color: red;
}

/*Change info*/
.plaisio2 {
  position: relative;
  display: block;
  width: 70%;
  font-size: 20px;
  background: #45a29e;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  opacity: 0.9;
  border: 1px solid #0b0c10;
  border-radius: 25px 25px 25px 25px;
  color: #fff;
}
.plaisio2 h1{
  text-align: center;
}
.plaisio2 table{
  margin-top: 40px;
  color: #fff;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

/*Registration Screen*/

.registrationform{
  margin-top: 7vh;
}

/*Login Screen*/

.loginform{
  margin-top: 25vh;
}